@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Space Grotesk", "Helvetica Neue", Helvetica;
}

body {
  background-image: url("/images/bg-main-desktop.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .containers {
  height: 100vh;
  width: 1045px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
body .container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px;
  width: 50%;
}
body .container-card {
  width: 537px;
  display: flex;
}
body #container-card-back {
  justify-content: right;
}
body #cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 527px;
  width: 573px;
  justify-content: space-between;
  padding: 0;
  margin-right: 18px;
}
body .card {
  height: 245px;
  width: 447px;
}
body #card-front {
  display: flex;
  flex-direction: column;
  height: 191px;
  width: 383px;
  padding: 27px 32px;
  background-image: url("/images/bg-card-front.png");
}
body #card-front img {
  height: 47px;
  width: 83.5px;
}
body #card-front #view-card-number {
  letter-spacing: 3.5px;
  color: hsl(0, 0%, 100%);
  font-size: 28px;
  margin: 61px 0px 24px;
}
body #card-front #ch-ed {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body #card-front #ch-ed #view-cardholder-name {
  letter-spacing: 9.5%;
}
body #card-back {
  background-image: url("/images/bg-card-back.png");
}
body #card-back #view-cvc {
  position: relative;
  color: hsl(0, 0%, 100%);
  top: 110px;
  left: 358px;
  width: 35px;
}
body form {
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body form input {
  height: 45px;
  width: 380px;
  padding-left: 14px;
  border-radius: 8px;
  border: 1px solid hsl(270, 3%, 87%);
  color: hsl(278, 68%, 11%);
}
body form input:focus {
  outline: none;
  border: solid 1.5px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white), linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
body form input[type=number]::-webkit-inner-spin-button,
body form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
body form ::placeholder {
  color: hsl(270, 3%, 87%);
}
body form label {
  width: 100%;
  justify-content: left;
  font-weight: 700;
  font-size: 12px;
  margin-top: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  margin-bottom: 0.3rem;
}
body form #third_line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body form #third_line #exp_date input {
  width: 80px;
}
body form #third_line #cvc {
  width: 160px;
}
body form #btn_confirm {
  height: 50px;
  margin-top: 42px;
  margin-bottom: 1px;
  width: 100%;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  background-image: none;
}
body form #btn_confirm:hover, body form #btn_confirm:focus {
  transform: scale(1.03);
  transition: 300ms linear;
}
body form #btn_confirm:not(:hover, :focus) {
  transform: scale(1);
  transition: 300ms linear;
  /* estilos quando o elemento não está em foco */
}
body .attribution {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  bottom: 10px;
  align-items: bottom;
}
@media (max-width: 376px) {
  body * {
    transform: scale(0.99);
    font: pink;
    margin: 0;
    padding: 0;
  }
  body .containers {
    flex-direction: column;
  }
  body .container {
    height: 30vh;
  }
  body .container-card {
    height: 30vh;
    width: 70vw;
  }
  body .card {
    border: solid 5px green;
    height: 100%;
    background: no-repeat;
    background-size: contain;
  }
}

/*# sourceMappingURL=style.css.map */
